{% extends 'project_list/project_list.html' %}

{% block project_block %}
{{ super() }}
<div class="panel panel-primary">
<div class="container-fluid">
    <div class="panel-heading" style="margin-left:-35px; font-size:18px;margin-bottom:-15px">
        <div class="container-fluid">  
            <span class="label label-info" style="margin-right:2px;" > {{ proj.name }} </span>
            <span class="label label-info" style="margin-right:2px;" > {{ proj.id }} </span>
            <span class="label label-info" style="margin-right:20px;"> {{ proj.user }} </span> </h4>
            <a href=" {{url_for("project_list.remove_project", proj_id=proj.id)}}"> <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:14px;"></span> </a>  
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid" style="margin-bottom:-15px;margin-left:-25px;">
            <ol class="breadcrumb"> 
                {% for dir in proj.pdirs %}
                    <li>{{ dir }}</li>        
                {% endfor %}      
                <li> {{ proj.cdir.basename }} </li>
            </ol>
        </div>
        <div class="container-fluid" style="margin-left:-25px;margin-bottom:-20px">                      
            
            <a class="btn btn-primary" href=" {{ url_for("project_list.upper", proj_id=proj.id) }} "> <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> </a>        
            <a class="btn btn-primary" href=" {{ url_for("project_list.refresh", proj_id=proj.id) }} "> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> </a>        
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{ proj.id }}" aria-expanded="false" aria-controls="collapseExample{{ proj.id }}">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>        
            </button>
			<form class="form" role="form" method="GET" action="{{ url_for("project_list.add_file" ) }}" style="margin-top:-15px;"> 
                <label for="FileNameInput"></label>
				<input name="add_file_name" type="text" class="form-control" id="FileNameInput" placeholder="FileName" style="margin-top:5px;" required="required" >
                <button class="btn btn-primary" role="button" type="submit" style="margin-top:-145px;margin-left:132px;"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button> 
             </form>  			
        </div>
		
        <div class="collapse" id="collapseExample{{ proj.id }}">
            <div class="container-fluid">
                  <ul class="list-group">
                
                    {% for file in proj.child_dirs|sort(attribute='basename') %}
                        <li class="list-group-item">
                            <a class="btn btn-primary" href=" {{ url_for("project_list.enter_folder", path=file.fullpath, proj_id=proj.id) }} "> {{ file.basename }} </a>
                        </li>
                    {% endfor %}    
                
              
                    {% for file in proj.child_files|sort(attribute='basename') %}
                        <li class="list-group-item"> <a href=" {{ url_for("project_list.open_file", path=file.fullpath )}} "> {{ file.basename }} </a> </li>
                    {% endfor %}                   
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}