{% extends "base.html" %}
{% block content %}
<h1 style="text-align:center"> Staff of HQ Team</h1>

<tr>
  <td align="left" valign="middle" width="50%" style="padding-top: 10px;padding-left:10px;border-bottom: 1px solid #E8E8E8;"><table style="margin-bottom: 15px;margin-left:70px" width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="17%" rowspan="2" align="center" valign="top"><img src='D:/hqlf/blueprints/HQTeam/img/Youler.png' alt="ZYLimage" width="230px" height="250px" /></td>
        <td style="padding-bottom: 10px; padding-left: 10px;padding-top: 10 px;" width="83%" height="20px;" align="left" valign="top">
                  <span style="color: Black; font-size: 18px; font-weight: bold;"> Yunlong Zan (昝云龙)<br /></span>  
                  <span style="color: Black; font-size: 14px; "> <br /><b>Email:</b> zanyunlongll@163.com<br /></span>  
                  <span style="color: Black; font-size: 14px; "> <b>Cell:</b> 155-0216-3673<br /></span> </td>
      </tr>
      <tr>
        <td style="height: 0px; padding-bottom: 10px; padding-left: 10px;" align="left"
        valign="top"><p><span style="font-size: medium; text-align: justify; font-family: _5b8b_4f53;">上海交通大学密西根学院博士后。2011年获中南大学学士学位，2016年获上海交通大学博士学。主要从事医学成像建模和反问题研究（如核医学影像的重建算法研发），以及图像处理、图像分析的研究。</span></p></td>
      </tr>
    </table></td>
</tr>

<tr>
  <td align="left" valign="middle" width="50%" style="padding-top: 10px;padding-left:10px;border-bottom: 1px solid #E8E8E8;"><table style="margin-bottom: 15px;margin-left:70px" width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="17%" rowspan="2" align="center" valign="top"><img src='D:/hqlf/blueprints/HQTeam/img/ZhenYang.png' alt="YZimage" width="230px" height="250px" /></td>
        <td style="padding-bottom: 10px; padding-left: 10px;padding-top: 10 px;" width="83%" height="20px;" align="left" valign="top">
                  <span style="color: Black; font-size: 18px; font-weight: bold;"> Zhen Yang (杨祯)<br /></span>  
                  <span style="color: Black; font-size: 14px; "> <br /><b>Email:</b> gardenia09@163.com<br /></span>  
                  <span style="color: Black; font-size: 14px; "> <b>Cell:</b> 136-6160-3334<br /></span> </td>
      </tr>
      <tr>
        <td style="height: 0px; padding-bottom: 10px; padding-left: 10px;" align="left"
        valign="top"><p><span style="font-size: medium; text-align: justify; font-family: _5b8b_4f53;">上海交通大学生物医学工程学院工程师。2013年获华中科技大学学士学位，2016年获上海交通大学硕士学位。主要从事医学成像建模和反问题研究（如核医学影像的重建算法研发），以及图像处理、图像分析的研究。</span></p></td>
      </tr>
    </table></td>
</tr>

<tr>
  <td align="left" valign="middle" width="50%" style="padding-top: 10px;padding-left:10px;border-bottom: 1px solid #E8E8E8;"><table style="margin-bottom: 15px;margin-left:70px" width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="17%" rowspan="2" align="center" valign="top"><img src='D:/hqlf/blueprints/HQTeam/img/Hua888.png' alt="WFHimage" width="230px" height="250px" /></td>
        <td style="padding-bottom: 10px; padding-left: 10px;padding-top: 10 px;" width="83%" height="20px;" align="left" valign="top">
                  <span style="color: Black; font-size: 18px; font-weight: bold;"> Fenghua Weng (翁凤花)<br /></span>  
                  <span style="color: Black; font-size: 14px; "> <br /><b>Email:</b> gardenia09@163.com<br /></span>  
                  <span style="color: Black; font-size: 14px; "> <b>Cell:</b> 136-6160-3334<br /></span> </td>
      </tr>
      <tr>
        <td style="height: 0px; padding-bottom: 10px; padding-left: 10px;" align="left"
        valign="top"><p><span style="font-size: medium; text-align: justify; font-family: _5b8b_4f53;">上海交通大学生物医学工程学院工程师。2013年获华中科技大学学士学位，2016年获上海交通大学硕士学位。主要从事医学成像建模和反问题研究（如核医学影像的重建算法研发），以及图像处理、图像分析的研究。</span></p></td>
      </tr>
    </table></td>
</tr>
{% endblock %}