{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="container-fluid">
    <form class="form-inline" role="form" method="GET" action="{{ url_for("add_project") }}">
        <div class="form-group">
            <label for="PeojectNameInput">Project Name</label>
            <input name="project_name" type="text" class="form-control" id="PeojectNameInput" placeholder="Project">
        </div>
        <button class="btn btn-primary" role="button" type="submit">
            Add project
        </button>
    </form>
</div>

<div class="container-fluid">
    {{ textfile }}
</div>
{% endblock %}

{% block project_block %}
{{ super() }}
<div class="container-fluid">
    <div class="container-fluid">
    <h2> <span class="label label-info"> {{ proj.name }}, id= {{ proj.id }} </span> </h2>
    </div>
    <ol class="breadcrumb"> 
        {% for dir in proj.pdirs %}
            <li>{{ dir }}</li>        
        {% endfor %}      
        <li> {{ proj.cdir.basename }} </li>
    </ol>
    <form class="form-inline" role="form" method="GET" action="{{ url_for("add_file" ) }}">
    <div class="form-group">
        <label for="FileNameInput">File Name</label>
        <input name="add_file_name" type="text" class="form-control" id="FileNameInput" placeholder="File">
    </div>
    <button class="btn btn-primary" role="button" type="submit">
        Add file
    </button>
    </form>
    <a class="btn btn-primary" href=" {{ url_for("project_upper", proj_id=proj.id) }} "> 向上 </a>
    <a class="btn btn-primary" href=" {{ url_for("project_refresh", proj_id=proj.id) }} "> 刷新 </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{ proj.id }}" aria-expanded="false" aria-controls="collapseExample{{ proj.id }}">
    列出目录
    </button>

    <div class="collapse" id="collapseExample{{ proj.id }}">
    <div class="btn-group-vertical" role="group" aria-label="current_dir_{{ proj.id }}">
        {% for file in proj.child_dirs %}
            <a class="btn btn-primary" href=" {{ url_for("project_enter_folder", path=file.fullpath, proj_id=proj.id) }} "> {{ file.basename }} </a>
        {% endfor %}    
    </div>
    <ul class="list-group">
        {% for file in proj.child_files %}
            <li class="list-group-item"> <a href=" {{ url_for("open_file", path=file.fullpath )}} "> {{ file.basename }} </a> </li>
        {% endfor %}                   
    </ul>
    </div>
</div>
{% endblock %}
